.node {
  height: 25px;
  width: 25px;
  font-size: 10px;
  border: 1px solid black;
  cursor: pointer;

  -webkit-user-select: none; /* Webkit */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10  */
  -o-user-select: none;
  user-select: none;
  transition: all 0.35s ease-in;
}
.node__defaultStart {
  background-color: red;
  color: red;
}
.node__defaultEnd {
  background-color: green;
  color: green;
}
.node__isWall {
  background-color: black;
  color: black;
}
.node-visited {
  background-color: #3074f2;
  animation-name: visited;
  animation-duration: 3s;
}
@keyframes visited {
  from {
    transform: scale(0.25);
    background-color: red;
  }
  50% {
    background-color: purple;
    transform: scale(1);
  }
  to {
    transform: scale(1);
    background-color: #3074f2;
  }
}
